// Text Colors
@mixin text-color($name, $value) {
	.text-#{$name} {
		color: $value;
		p,
		h1, .h1,
		h2, .h2,
		h3, .h3,
		h4, .h4,
		h5, .h5,
		h6, .h6,
		ul > li,
		ol > li {
			color: $value;
		}
	}
}