.elementor-button {
  border-radius: 0;
  text-transform: uppercase;
  background-color: color('primary');
  color: color('white');
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  
  .elementor-button-text {
    font-size: 1.25em;
  }
  
  &:hover {
    background-color: darken(color('primary'), 7%);
    color: color('white');
  }
}



.elementor-button.elementor-size-sm {
  border-radius: 0;
}

.elementor-button.elementor-size-md {
  border-radius: 0;
}

.elementor-button.elementor-size-lg {
  border-radius: 0;
}

.elementor-button.elementor-size-xl {
  border-radius: 0;
}

.elementor-button:hover,
.elementor-button:focus {
  text-decoration: none;
}