body {
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-weight: $font-weight-base;
  
  @include media('<=desktop') {}
  @include media('<=tablet') {}
  @include media('<=phone') {}
}

.headings-font {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h6 {
  line-height: $headings-line-height;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
}

h1, .h1 {
  font-size: ($font-size-base * 3);
}

h2, .h2 {
  font-size: ($font-size-base * 2.25);
}

h3, .h3 {
  font-size: ($font-size-base * 1.5);
}

h4, .h4 {
  font-size: ($font-size-base * 1.25);
}

h5, .h5 {
  font-size: ($font-size-base * 1);
}

h6, .h6 {
  font-size: ($font-size-base * 1);
}

p {}

a {}

blockquote {}