@each $name, $value in $colors {
  @include text-color($name, $value);
  @include bg-color($name, $value);
}

.hide-phone {
  @include media('<tablet') {
    display: none;
  }
}

.hide-tablet {
  @include media('>=tablet', '<desktop') {
    display: none;
  }
}

.hide-desktop {
  @include media('>=desktop') {
    display: none;
  }
}

.clearfix::after {
  display: block;
  clear: both;
  content: "";
}