// color palette
$colors: ();
$colors: map-merge((
  "blue":       #337ab7,
  "red":        #dc3545,
  "orange":     #cc5f29,
  "green":      #23752b,
  "yellow":     #ffc107,
  "white":      #ffffff,
  "black":      #000000,
  "gray":       #646464,
), $colors);

// return color value from given key
@function color($key) {
  @if map-has-key($colors, $key) {
    @return map-get($colors, $key);
  }
  @warn "Unknown `#{$key}` in $colors.";
  @return null;
}

// theme colors
$colors: map-merge((
  "primary":    color('blue'),
  "secondary":  color('orange'),
  "highlight":  color('yellow'),
), $colors);

// Media Queries made easy by "Include Media" (see ../libraries/_include-media.scss)
$breakpoint-phone: 360px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1025px;
$breakpoints: (
  'phone': $breakpoint-phone,
  'tablet': $breakpoint-tablet,
  'desktop': $breakpoint-desktop
);

$media-expressions: (
  'screen': 'screen',
  'print': 'print',
  'handheld': 'handheld',
  'landscape': '(orientation: landscape)',
  'portrait': '(orientation: portrait)',
  'retina2x': '(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx)',
  'retina3x': '(-webkit-min-device-pixel-ratio: 3), (min-resolution: 350dpi), (min-resolution: 3dppx)'
);

// base font styles
$font-family-base: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size-base: 18px;
$font-weight-base: 400;
$line-height-base: 1.6em;

// links
$link-color: color('primary');
$link-hover-color: darken($link-color, 5%);
$link-decoration: none;
$link-hover-decoration: underline;

// headings
$headings-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$headings-line-height: 1.25em;
$headings-font-weight: 700;

// reboot variables... generally won't need to edit these
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$black: color('black');
$body-color: color('black');
$body-bg: color('white');
$headings-margin-bottom: 20px;
$paragraph-margin-bottom: 20px;
$dt-font-weight: 700;
$table-cell-padding: .75rem;
$table-caption-color: lighten($body-color, 10%);
$label-margin-bottom: .5rem;
