.show-more-block {
  
  .elementor-widget-container {
    position: relative;
    
    .block-content-wrapper {
      padding-bottom: 72px;
      height: 600px;
      transition: height 1000ms;
      overflow: hidden;
    }
    
    .show-more-less-toggle {
      text-align: center;
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 0;
      
      .content-fade {
        height: 90px;
        @include gradient-y(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), 2%, 98%);
      }
      
      .toggle-btn {
        padding: 5px;
        text-align: center;
        background-color: #fff;
      }
    }
    
    &.expanded {
      
      .block-content-wrapper {
        height: auto;
        transition: height 1000ms;
      }
      
      .content-fade {
        height: 1px;
      }
    }
  }
}